#paper {
  width: 100%;
  overflow-x: auto;
  text-align: center;
}

#paper svg {
  display: inline-block;
}

.music-form-loading {
  opacity: 0.5;
}

.correct-note {
  fill: green !important;
  stroke: green !important;
}
